<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
		<h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
	</header>
	<div>
		<table>
			<tr>
				<th>{{localize "acdm.weapon.attackWith"}}</th>
				<th>{{localize "acdm.weapon.damage"}}</th>
				<th>{{localize "acdm.weapon.damageType}}"</th>
				<th>{{localize "acdm.weapon.ranged"}}</th>
				<th>{{localize "acdm.weapon.range"}}</th>
			</tr>
			<tr>
				<td>
					<select name="data.attackWith">
					{{#select data.attackWith}}
					{{#each config.attackTypes as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
					{{/select}}
					</select>
				</td>
				<td>
					<input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number"/>
				</td>
				<td>
					<input name="data.damageType" type="text" value="{{data.damageType}}" data-dtype="String"/>
				</td>
				<td>
					<input name="data.ranged" type="checkbox" {checked data.ranged}/>
				</td>
				<td>
					<input name="data.range" type="text" value="{{data.range}}" data-dtype="Number"/>
				</td>
				<td>
					<input name="data.finese" type="checkbox" {checked data.finese}/>
				</td>
			</tr>
		</table>
		{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
	</div>
</form>